    <div class="content-wrapper">
     
   <br><br>

        <section class="content-header">
            <h1>
              System Configuration
            </h1>
            <ol class="breadcrumb">
              <li><a routerLink="/home"><i class="fa fa-dashboard"></i> Home</a></li>
              <li class="active">System Configuration</li>
            </ol>
          </section>
  
          <!-- Main content -->
          <section class="content">
  
            <div class="row">
              <div class="col-md-12">
                <div class="box box-primary">
                  <div class="box-header">
                    <!-- <i class="fa fa-edit"></i> -->
                    <!-- <h3 class="box-title">Buttons</h3> -->
                  </div>
                  <section class="content">
                    <div class="row">
                      <div class="col-md-4 col-sm-6 col-xs-12">
                        <a routerLink="/administrative-entities">
                            <div class="info-box bg-aqua">
                                <span class="info-box-icon"><i class="fa fa-cogs"></i></span>
                                <div class="info-box-content">
                                  <span class="info-box-number">ADMINISTRATIVE ENTITIES</span>
                                  <div class="progress">
                                    <div class="progress-bar" style="width: 70%"></div>
                                  </div>
                                  <span class="progress-description">
                                    Click here to manage Adiministrative entity
                                  </span>
                                </div>
                              </div>
                        </a>
                    
                      </div>
                      <div class="col-md-4 col-sm-6 col-xs-12" >
                        <a routerLink="/organizational-entities">
                            <div class="info-box bg-green">
                                <span class="info-box-icon"><i class="fa fa-cogs"></i></span>
                                <div class="info-box-content" >

                                  <span class="info-box-number">ORGANIZATIONAL ENTITIES</span>
                                  <div class="progress">
                                    <div class="progress-bar" style="width: 70%"></div>
                                  </div>
                                  <span class="progress-description">
                                    Click here to manage Organizational entity
                                  </span>
                                </div>
                              </div>
                        </a>
                     
                      </div>
                      <div class="col-md-4 col-sm-6 col-xs-12">
                        <a routerLink="/functional-entities">     <div class="info-box bg-yellow">
                            <span class="info-box-icon"><i class="fa fa-cogs"></i></span>
                            <div class="info-box-content">

                              <span class="info-box-number">FUNCTIONAL ENTITIES</span>
                              <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                              </div>
                              <span class="progress-description">
                                Click here to manage Functional entity
                              </span>
                            </div>
                          </div>
                        </a>
                   
                      
                      </div>
          
                    </div>
                    
                  </section>
                </div>
              </div><!-- /.col -->
            </div><!-- ./row -->
     
          </section><!-- /.content -->
      </div>