<div class="content-wrapper">

    <br><br>

    <section class="content-header">
        <h1>
            Inventory Configuration
        </h1>
        <ol class="breadcrumb">
            <li><a routerLink="/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Inventory Configuration</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                    </div>
                    <section class="content">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <a routerLink="/dispensing-entity">
                                    <div class="info-box bg-aqua">
                                        <span class="info-box-icon"><i class="fa fa-cogs"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-number">DISPENSING ENTITIES</span>
                                            <div class="progress">
                                                <div class="progress-bar" style="width: 70%"></div>
                                            </div>
                                            <span class="progress-description">
                                                Click here to manage Dispensing entities
                                            </span>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <a routerLink="/product-category">
                                    <div class="info-box bg-green">
                                        <span class="info-box-icon"><i class="fa fa-cogs"></i></span>
                                        <div class="info-box-content">

                                            <span class="info-box-number">PRODUCT CATEGORY</span>
                                            <div class="progress">
                                                <div class="progress-bar" style="width: 70%"></div>
                                            </div>
                                            <span class="progress-description">
                                                Click here to manage Product Category
                                            </span>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <a routerLink="/product-type">
                                    <div class="info-box bg-aqua">
                                        <span class="info-box-icon"><i class="fa fa-cogs"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-number">PRODUCT TYPE</span>
                                            <div class="progress">
                                                <div class="progress-bar" style="width: 70%"></div>
                                            </div>
                                            <span class="progress-description">
                                                Click here to manage Product Type
                                            </span>
                                        </div>
                                    </div>
                                </a>

                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <a routerLink="/product-unit">
                                    <div class="info-box bg-green">
                                        <span class="info-box-icon"><i class="fa fa-cogs"></i></span>
                                        <div class="info-box-content">

                                            <span class="info-box-number">PRODUCT UNIT</span>
                                            <div class="progress">
                                                <div class="progress-bar" style="width: 70%"></div>
                                            </div>
                                            <span class="progress-description">
                                                Click here to manage Product Unit
                                            </span>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <a routerLink="/product-definition">
                                    <div class="info-box bg-aqua">
                                        <span class="info-box-icon"><i class="fa fa-cogs"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-number">PRODUCT DEFINITION</span>
                                            <div class="progress">
                                                <div class="progress-bar" style="width: 70%"></div>
                                            </div>
                                            <span class="progress-description">
                                                Click here to manage Product Suppliers
                                            </span>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>

                    </section>
                </div>
            </div>
        </div>




    </section>
</div>